n8n/workflow-tracker-events.json
{
  "name": "Victor IA — Tracker Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "victor-tracker",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Tracker",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "victor-tracker"
    },
    {
      "parameters": {
        "jsCode": "// Enriquece y normaliza el evento recibido del tracker\nconst body = $input.first().json;\nconst entry = body.entry || {};\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    // Metadatos del evento\n    evento_tipo: body.type || 'desconocido',\n    evento_fecha: entry.dateKey || now.split('T')[0],\n    evento_hora: entry.hora || now.split('T')[1].slice(0,5),\n    timestamp_iso: body.timestamp || now,\n    fuente: body.source || 'victor-ia-tracker',\n    \n    // Datos de la entrada\n    descripcion: entry.desc || '',\n    proyecto: entry.project || '',\n    cliente: entry.client || '',\n    categoria: entry.cat || '',\n    estado: entry.status || '',\n    duracion_horas: entry.dur || 0,\n    costo: entry.cost || 0,\n    precio_venta: entry.price || 0,\n    margen: (entry.price || 0) - (entry.cost || 0),\n    notas: entry.notes || '',\n    observaciones: entry.obs || '',\n    software: (entry.sw || []).join(', '),\n    \n    // Flag para routing\n    es_cotizacion: body.type === 'quote_gen',\n    es_pago: body.type === 'payment_confirm',\n    es_voz: body.type === 'plan_voice' || body.type === 'voice_chat',\n    es_transcripcion: body.type === 'transcription'\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Normalizar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rmoA61km6UvDYxEJdV_UhNZrKZDYjmudzpXUImPVMhM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interacciones",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.evento_fecha }}",
            "Hora": "={{ $json.evento_hora }}",
            "Tipo": "={{ $json.evento_tipo }}",
            "Descripcion": "={{ $json.descripcion }}",
            "Proyecto": "={{ $json.proyecto }}",
            "Cliente": "={{ $json.cliente }}",
            "Categoria": "={{ $json.categoria }}",
            "Duracion_h": "={{ $json.duracion_horas }}",
            "Precio_MXN": "={{ $json.precio_venta }}",
            "Margen_MXN": "={{ $json.margen }}",
            "Software": "={{ $json.software }}",
            "Notas": "={{ $json.notas }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Google Sheets — Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-cotizacion",
              "leftValue": "={{ $json.es_cotizacion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "cond-pago",
              "leftValue": "={{ $json.es_pago }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Es Cotizacion o Pago?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "create",
        "additionalFields": {
          "dealname": "={{ $json.evento_tipo === 'payment_confirm' ? '[PAGO] ' : '[COTIZACION] ' }}={{ $json.proyecto || $json.cliente }}",
          "dealstage": "={{ $json.es_pago ? 'closedwon' : 'presentationscheduled' }}",
          "amount": "={{ $json.precio_venta }}",
          "description": "={{ $json.descripcion }}\n\nNotas: {{ $json.notas }}"
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "HubSpot — Crear Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok: true, received: $('Normalizar Evento').first().json.evento_tipo}) }}"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Webhook Tracker": {
      "main": [[{"node": "Normalizar Evento", "type": "main", "index": 0}]]
    },
    "Normalizar Evento": {
      "main": [[{"node": "Google Sheets — Log", "type": "main", "index": 0}]]
    },
    "Google Sheets — Log": {
      "main": [[{"node": "Es Cotizacion o Pago?", "type": "main", "index": 0}]]
    },
    "Es Cotizacion o Pago?": {
      "main": [
        [{"node": "HubSpot — Crear Deal", "type": "main", "index": 0}],
        [{"node": "Respuesta OK", "type": "main", "index": 0}]
      ]
    },
    "HubSpot — Crear Deal": {
      "main": [[{"node": "Respuesta OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "victor-ia"
  }
}